.wrap {
  box-sizing: border-box;
  border-radius: 0px 6px 6px 0px;
  margin-right: 10px;
  position: relative;
.title {
  background: #fff;
  height: 30px;
  width:  100%;
  font-size: 10px;
  color: #90959a;
  .tr {
    font-size: 10px;
    color: #90959a;
    width: 100%;
    text-align: center;
  }
  .item {
    padding: 1px 3px;
    line-height: 13px;
    width: 80px;
    vertical-align: middle;
  }
}
.content {
  width: 100%;
  .list {
    background: #fff;
    &:nth-child(odd) {
      .tr:nth-child(odd){
        background: #FAFBFC;
      }
    }
    &:nth-child(even) {
      .tr:not(:first-child):nth-child(even){
        background: #FAFBFC;
      }
    }
    .detail {
      color: #323232;
      background: #fff;
      vertical-align: middle;
      width: 85px!important;
      height: 30px;
      padding: 2px 5px;
      font-size: 12px;
      border: 1px solid transparent;
    }
  }

  .tr {
    color: #323232;
    min-width: 40px;
    font-size: 12px;
    width: 100%;
    text-align: center;
    .td {
      width: 100%;
    }
    .item {
      vertical-align: middle;
      text-align: center;
      width: 85px;
      border-bottom: 1px solid #f4f4f4!important;
    }
    }
  }
}

.fixed {
  white-space:normal; 
  width: 85px;
  position: sticky;
  top: 0;
  left: 0;
  float:inherit;
  z-index: 9;
  background: #fff;
  vertical-align: middle;
  box-shadow: 0px 4px 4px -4px #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total {
  font-weight: bold;
  margin-top: 5px;
  // display: inline-block;
  border-radius: 6px;
  background: #fff;
  min-height: 30px;
  line-height: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sumItem {
  min-height: 30px;
  margin-left: -105px;
  display: flex;
  justify-content: center;
  width: 100px;
  text-align: center;
   border-bottom: 1px solid #f4f4f4!important;
   .detail {
      border-bottom: 0!important;
   }
  .tag {
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    background-color: #fe981e;
    padding: 1px 3px;
    margin: 2px 3px;
    border-radius: 2px;
    vertical-align: middle;
    &:after {
      content: '';
      width: 0;
      height:0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent; 
      border-top: 4px solid #fff; 
      margin-left: 3px;
      vertical-align: middle;
      display: -webkit-inline-box;        
    }
  }
  .tagUp {
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    background-color: #fe981e;
    border-radius: 2px;
    padding: 1px 3px;
    margin: 1px 3px;
    &:after {
      content: '';
      width: 0;
      height:0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent; 
      border-bottom: 4px solid #fff; 
      margin-left: 3px;
      vertical-align: middle;
      margin-top: -2px;
      display: -webkit-inline-box;        
    }
  }
}

.trdetail {
  background: red;
  color: red!important;
}